* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-family: sans-serif, Arial;
  }

  .description {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 111px;
    height: 74px;
    background-image: url("/Asset/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .hamburg {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 19px;
    margin-right: 10px;
  }

  nav {
    display: flex;
    align-items: 1;
  }

  .starter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .starter h1 {
    display: flex;
    position: absolute;
    height: 100px;
    left: 16px;
    top: 104px;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    padding: 20px 20px;

    /* or 50px */

    color: #1a2236;
  }

  .starter h2 {
    display: flex;
    position: absolute;
    height: 50px;
    left: 16px;
    top: 672px;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    padding: 20px 20px;

    /* identical to box height, or 50px */

    color: #1a2236;
  }

  .starter p {
    position: absolute;
    height: 147px;
    left: 17px;
    top: 221px;
    padding: 20px 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
  }

  .btn {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 50px;
    font-size: 16px;
    border: none;
    left: 30px;
    top: 390px;
    background-color: #1a2236;
    color: white;
  }

  .combo {
    position: absolute;
    width: 100%;
    height: 160px;
    left: 0;
    top: 472px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/Asset/colorcombo.svg);
  }

  .work-station {
    display: grid;
  }

  .grid-container {
    display: grid;
    grid-template-rows: (6, 1fr);
    min-height: 500px;
    gap: 60px;
    width: 100%;
    height: 342px;
    left: 0;
    top: 30px;
  }

  .grid-item {
    position: relative;
    display: grid;
    min-width: 0%;
    min-height: 0%;
    width: 100%;
    height: 200px;
    margin-top: 200px;
    top: 752px;
    background: #1a2236;
  }

  .grid-item h2 {
    position: absolute;
    width: 70%;
    height: 16px;
    left: 20px;
    top: 45px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;

    /* identical to box height, or 16px */

    color: #fff;
  }

  .grid-item img {
    position: relative;
    display: flex;
    width: 100%;
    height: 250px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
  }

  ul {
    list-style-type: none;
    display: flex;
  }

  .html {
    position: absolute;
    display: flex;
    width: 69px;
    height: 20px;
    left: 20px;
    top: 90px;
    background: #98dede;
  }

  li.html {
    font-size: 12px;
    color: #333;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding: 3px 0 0 3px;
  }

  .ruby {
    position: absolute;
    display: flex;
    width: 100px;
    height: 20px;
    left: 99px;
    top: 90px;
    background: #98dede;
  }

  li.ruby {
    font-size: 12px;
    color: #333;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding: 3px 0 0 3px;
  }

  .javas {
    position: absolute;
    display: flex;
    width: 74px;
    height: 20px;
    left: 210px;
    top: 90px;
    background: #98dede;
  }

  li.javas {
    font-size: 12px;
    color: #333;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding: 3px 0 0 3px;
  }

  .stp {
    position: absolute;
    display: flex;
    width: 178px;
    height: 44px;
    left: 20px;
    top: 95px;
    border: 1px solid #fff;
  }

  .buttn {
    position: absolute;
    width: 178px;
    height: 44px;
    left: 20px;
    top: 140px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 18px;
    color: white;
    padding: 0 30px 0 0;
    background-image: url(/Asset/union.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center right;
  }

  .about {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .about h1 {
    position: relative;
    display: flex;
    width: 30%;
    height: 50px;
    right: 113px;
    top: 3030px;
    font-family: "Playfair Display", monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;

    /* identical to box height, or 50px */

    color: #1a2236;
  }

  .about p {
    position: absolute;
    display: flex;
    width: 75%;
    height: 126px;
    left: 35px;
    top: 3120px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1a2236;
  }

  .about button {
    position: absolute; /* set the button to relative position */
    width: 85%;
    height: 44px;
    top: 3265px;
    left: 30px;
    background-color: #1a2236;
    border: 1px solid white;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 30px 0 95px;
  }

  .about button::before {
    content: ""; /* add content to the pseudo-element */
    background-image: url(/Asset/download.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left center;
    width: 25px; /* set the width and height of the pseudo-element */
    height: 25px;
    position: absolute; /* position the pseudo-element absolutely */
    left: 220px; /* set the left offset to position the image */
  }

  nav ul {
    list-style: none;
    background-image: url(/asset/bg-mobile-nav.svg);
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
  }

  nav ul li {
    margin: 10px 0;
  }

  nav ul a {
    display: block;
    padding: 10px;
    color: black;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-decoration: none;
  }

  .card1 {
    position: absolute;
    display: flex;
    width: 85%;
    height: 289px;
    left: 30px;
    top: 3920px;
    background: #1c528a;
    background-image: url(/Asset/hash.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .card1 h2 {
    position: absolute;
    width: 116px;
    height: 30px;
    left: 66px;
    top: 50px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;

    /* identical to box height */

    color: #fff;
  }

  .card2 {
    position: absolute;
    display: flex;
    width: 85%;
    height: 289px;
    left: 30px;
    top: 4245px;
    background: #e2505c;
    background-image: url(/Asset/squre.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .card2 h2 {
    position: absolute;
    width: 132px;
    height: 30px;
    left: 66px;
    top: 50px;
    font-family: "Poppins", monospace;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;

    /* identical to box height */

    color: #fff;
  }

  .card3 {
    position: absolute;
    display: flex;
    width: 85%;
    height: 289px;
    left: 26px;
    top: 4575px;
    background: #febf52;
    background-image: url(/Asset/bulb.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .card3 h2 {
    position: absolute;
    width: 55px;
    height: 30px;
    left: 65px;
    top: 50px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;

    /* identical to box height */

    color: #fff;
  }

  .card1 ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: disc;
    justify-content: space-between;
    padding: 90px 16px 57px 80px;
  }

  .card1 li {
    width: 178px;
    height: 10px;
    top: 81px;
    left: 66px;
    margin: 5px;
    padding-left: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 12px;
    letter-spacing: -0.0525em;
    color: #fff;
  }

  .card2 ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: disc;
    justify-content: space-between;
    padding: 90px 16px 57px 80px;
  }

  .card2 li {
    width: 178px;
    height: 10px;
    left: 66px;
    top: 66px;
    margin: 5px;
    padding-left: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.0525em;
    color: #fff;
  }

  .card3 ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: disc;
    justify-content: space-between;
    padding: 90px 25px 57px 80px;
  }

  .card3 li {
    width: 178px;
    height: 10px;
    left: 65px;
    top: 66px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.0525em;
    color: #fff;
  }

  .last-part {
    position: relative;
    top: 4200px;
    width: 100%;
    background-image: url(/asset/lefty.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    padding-top: 106px;
  }

  .get-started h2 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: #1a2236;
    margin-left: 16px;
  }

  .get-started img {
    position: relative;
    width: 111px;
    height: 74.02px;
    left: -25px;
    top: 0;
  }

  article {
    margin: 20px 14px 32px 18px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    letter-spacing: -0.01em;
  }

  input {
    height: 52px;
    width: 85%;
    display: flex;
    box-sizing: border-box;
    color: #1a2236;
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 4px;
    margin-left: 18px;
    margin-bottom: 8px;
    z-index: 99;
    font-size: 14px;
    font-weight: 400;
  }

  input[type="text"] {
    padding-left: 18px;
  }

  input[type="email"] {
    padding-left: 18px;
  }

  .the-relative {
    position: relative;
    width: 100%; /* set the parent container to be 100% of the page width */
    display: flex;
    justify-content: center; /* center the child element horizontally */
    align-items: center;
  }

  .text-area {
    height: 112px;
  }

  form label {
    position: absolute;
    top: 18px;
    left: 10px;
    margin-left: 24px;
    padding: 0 6px;
    color: gray;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 10px;
    font-weight: 400;
    transition: top 0.3s;
  }

  .st_colla {
    position: relative;
    width: 85%;
    height: 44px;
    left: 30px;
    top: 30px;
    color: #fff;
    background: #1a2236;
  }

  .the-relative input:focus ~ label {
    top: -6px;
    background-color: white;
  }

  .footer {
    position: relative;
    width: 100%;
    height: 150px;
    margin-top: 64px;
    background-color: #1a2236;
    color: white;
  }

  .f-first {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 32px;
  }

  .f-first span {
    margin: 0 16px;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 500;
  }

  .f-second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 40px;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked ~ nav ul {
    transform: translateX(0);
  }

  .ham-nav {
    position: absolute;
    top: 20px;
    left: 280px;
    z-index: 9999;
    font-weight: 900;
  }
}
